#s1 
 { display: inline-block;width: 70%;background-color: black; color: white; padding-right: 250px; height: max-content;  font: size 15px;
    word-spacing: 80px; height: 80px; align-content: center ;}
